@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
      font-family: "Inter", sans-serif;
      font-weight: 500;
      color: white;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
  background: radial-gradient(ellipse at top, #1a1a2e 0%, #0f0c29 70%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}
header {
    padding: 25px 25px;
}
header nav {
    float: none;
    width: 100%;
    font-weight: 900;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: inline-flexbox;
}
header nav ul li a {color:	rgb(113,114,246);}
header nav ul li a:hover {
 background-color: #1B1B1B;
 padding: 9px 17px;
 border-radius: 4px;
 transition: all 300ms ease;
}
header nav ul li.btn a:hover {
    background: #3F3D3D ;
}

